<!DOCTYPE html>
<html>
  <head>
    <title>Ceci n'est pas un website</title>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/<%= bootstrap_version %>/css/bootstrap.min.css" rel="stylesheet">
    
    <%= stylesheet_link_tag    'application', media: 'all', "data-turbolinks-track" => false %>
    <%= javascript_include_tag 'application', "data-turbolinks-track" => false%>
     <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="container"></div>
    <div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
				<div class="navbar-header">
					 
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						 <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
					</button> <%= link_to root_path, { :class => "navbar-brand"} do %>
   <i class="glyphicon glyphicon-home"></i> Home
<% end %>
				</div>
				
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<% if user_signed_in? %>
						  <li>
						   <%= link_to "Logout", destroy_user_session_path, :method => :delete %>
						  </li>
						  <li>
							<%= link_to "Page 1", dashboard_page1_path %>
						  </li>
					      <li>
							<%= link_to "Courses", dashboard_page2_path %>
					      </li>
					      <li>
							<%= link_to "Work Experience", dashboard_page3_path %>
					      </li>
					      <li>
							<%= link_to "Honors and Awards", dashboard_page4_path %>
					      </li>
					      <li>
							<%= link_to "Skills and Interests", dashboard_page5_path %>
					      </li>
					      <li>
							<%= link_to "References", dashboard_page6_path %>
					      </li>
					      <li>
							<%= link_to "Download", dashboard_page7_path %>
					      </li>
					      <li>
					      	<%= link_to edit_user_registration_path, { :class => "navbar-brand"} do %>
					      	  <i class="glyphicon glyphicon-cog"></i>
					      	  <% end %>
					      </li>
						<% else %>
						  <li>
						   <%= link_to "Login", new_user_session_path %>
						  </li>
						<% end %>  

					</ul>
				</div>
				
			</nav>
		</div>
	</div>
</div>
    
    <% flash.each do |key, value| %>
     <div class="alert alert-info alert-dismissable">
     	<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
     	<strong><%= value %></strong>
     </div>
    <% end %>
    
    <%= yield %>
    </div>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/<%= bootstrap_version %>/js/bootstrap.min.js"></script>
  </body>
</html>