<p id="notice"><%= notice %></p>

<form class="form-inline">

<p class="form-group">
  <strong>Owner:</strong>
  <%= @work.owner %>
</p>

<p class="form-group">
  <strong>Start date:</strong>
  <%= @work.start_date %>
</p>

<p class="form-group">
  <strong>End date:</strong>
  <%= @work.end_date %>
</p>

<p class="form-group">
  <strong>Name:</strong>
  <%= @work.name %>
</p>

<p class="form-group">
  <strong>Description:</strong>
  <%= @work.description %>
</p>

</form>

<%= link_to 'Edit', edit_work_path(@work) %> |
<%= link_to 'Back', works_path %>
