<p id="notice"><%= notice %></p>

<h1>Honors</h1>

<table>
  <thead>
    <tr>
      <th>Owner</th>
      <th>Honor date</th>
      <th>Honor name</th>
      <th>Honor description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @honors.each do |honor| %>
      <tr>
        <td><%= honor.owner %></td>
        <td><%= honor.honor_date %></td>
        <td><%= honor.honor_name %></td>
        <td><%= honor.honor_description %></td>
        <td><%= link_to 'Show', honor %></td>
        <td><%= link_to 'Edit', edit_honor_path(honor) %></td>
        <td><%= link_to 'Destroy', honor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Honor', new_honor_path %>
