<p id="notice"><%= notice %></p>

<p>
  <strong>Owner:</strong>
  <%= @honor.owner %>
</p>

<p>
  <strong>Honor date:</strong>
  <%= @honor.honor_date %>
</p>

<p>
  <strong>Honor name:</strong>
  <%= @honor.honor_name %>
</p>

<p>
  <strong>Honor description:</strong>
  <%= @honor.honor_description %>
</p>

<%= link_to 'Edit', edit_honor_path(@honor) %> |
<%= link_to 'Back', honors_path %>
