<h1>Page 2!</h1>
<p>this is a second page</p>


Hello, <%= @user.first_name %>!

<table>
  <thead>
    <tr>
      <th>Owner</th>
      <th>Course number</th>
      <th>Course name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= course.owner %></td>
        <td><%= course.course_number %></td>
        <td><%= course.course_name %></td>
        <td><%= link_to 'Show', course %></td>
        <td><%= link_to 'Edit', edit_course_path(course) %></td>
        <td><%= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Course', new_course_path %>
